p {
	color: 55;
}

body {
	font-size: 1.5em;
	color: red;
	background-color: #86C98A
}

h1 {
	text-align: center;
	border-style: dashed;
	border-width: 4px;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #FFF;	
}

#mainContent {
	margin-left: 175px;
	margin-right: 75px;
}

.centreMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	width: 150px;
	position: fixed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 8px;
	border-width: 1px;
	border-style: solid;
	transition: color 1s;
	transition: background-color 1s;
}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}

@media screen and (max-width: 600px) {
	nav ul li {
		float: left;
		border-right: 1px solid black;
	}
	nav ul {
		position: fixed;
		top: 0;
		left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	width: 100%;
	
	}
	nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-right: 16px;
	border-width: 1px;
	border-style: solid;
	font-size: 0.75em;
	}
	#mainContent {
		margin-left: 2%;
		margin-right: 2%;
		padding-top: 10px;
	}

}

.imgright {
		float: right;
		padding: 15px;
		max-width: 50%;
	}
